
@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_LayoutTaxProfessional.cshtml";
    /// Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@*<link href="~/Content/Bootsnip.css" rel="stylesheet" />*@
<style>
    .error-msg {
        color: #FF0000;
    }

    .success-msg {
        color: #0d074e;
    }
</style>
<!-- Bootstrap core CSS-->
<link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom fonts for this template-->
<link href="~/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<!-- Custom styles for this template-->
<link href="~/assets/css/admin.css" rel="stylesheet">
<script src="~/assets/vendor/jquery/jquery.min.js"></script>
<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Bootstrap core JavaScript-->
<script src="~/assets/vendor/jquery/jquery.min.js"></script>
<script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>*@
@*<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
<!------ Include the above in your HEAD tag ---------->

<div id="content-wrapper">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header text-center">
                Invite Trader
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10 col-md-offset-3">
                        <div class="panel panel-login">

                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        @*<form id="Trader-form" action="Traderemail" method="post" role="form" style="display: block; >
                                                <div class="form-group col-sm-10 col-sm-offset-2">
                                                    <input type="email" name="mobile" id="email" tabindex="1" class="form-control" placeholder="Trader Mobile Number" value="" width="12">
                                                </div>

                                                <input type="submit" name="register-submit" id="register-submit-Trader" tabindex="4" class="btn btn-success" value="Send Invite" style="margin-left: 45%">

                                            </form>*@
                                        <form id="" method="post" role="form" style="display: block;" action="/InviteUser/InviteTrader">

                                            <div class="form-group col-sm-10 col-sm-offset-2">
                                                <input type="email" name="email" id="TaxProfessionalEmail" tabindex="1" class="form-control" placeholder="Trader Email" value="" width="12">
                                            </div>
                                            @*<div class="form-group col-sm-10 col-sm-offset-2">
                                                    <select id="TaxProfessionalList" class="form-control"><option value="0">--Select Trader--</option></select>
                                                </div>*@
                                            <input type="submit" name="register-submit" id="register-submit-TaxProfessional" tabindex="4" class="btn btn-success" value="Send Invite" style="margin-left: 45%">
                                            @*<div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-6 col-sm-offset-3">
                                                            <input type="submit" name="register-submit" id="register-submit-TaxProfessional" tabindex="4" class="btn btn-success" value="Send Invite">
                                                        </div>
                                                    </div>
                                                </div>*@
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="errMsg" align="center">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.noConflict();

            // alert("The paragraph was clicked.");
            debugger;
            var message = "";
            var success = true;
            $("#errMsg").html(message);
            //if ($('#TaxProfessionalList :selected').val() == "0") {
            //    message += "*Please Select Trader *";
            //    success = false;
            //}
            if ($("#TaxProfessionalEmail").val().length == 0) {
                message += "*Please Enter Mobile Number *";
                success = false;
            }
            else {
                var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
                if (!pattern.test($("#TaxProfessionalEmail").val())) {
                    message += "*Invalid Email *";
                    success = false;
                }
            }
            e.preventDefault();
            if (!success) {
                $("#errMsg").html(message).addClass("error-msg");
                $("#errMsg").show().delay(10000).fadeOut();

            }
            else {
 var data = "email=" + $("#TaxProfessionalEmail").val();
                //debugger;
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",

                    url: "/TaxProfessional/InviteTrader?" + data,
                    success: function (data) {
                        $("#errMsg").html(data).addClass("success-msg");
                    },
                    error: function (xhr, err) {
                        // alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                        //  alert("responseText: " + xhr.responseText);
                    }
                })
            }
        });



    });

</script>






